{% extends "base.hbs" %}
{% block title %} UST intranet | Docházková karta {%end%}
{% block body %}

<!--<link rel="stylesheet" href="global.css">-->

<style>
</style>

<div class="container">
    <h1>Docházková karta: <a href="/users/u/{{_id}}">{{name}}</a></h1>

    <div class="row">
        <div class="col col-12 col-lg-6">
            <div id="calendar">
                <table class="table text-center table-bordered" style="table-layout: fixed">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="7" class="text-left">
                            <h4 style="display: inline; float: left;">Květen 2019</h4>
                            <span style="float: right">
                            <button type="button" class="btn btn-light">Předchozí měsíc</button>
                            <button type="button" class="btn btn-light">Následující měsíc</button>
                            </span>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Po</th>
                        <th>Út</th>
                        <th>St</th>
                        <th>Čt</th>
                        <th>Pá</th>
                        <th>So</th>
                        <th>Ne</th>
                    </tr>
                    <tr>
                        <td class="text-secondary">29</td>
                        <td class="text-secondary">30</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="text-secondary">1</td>
                        <td class="text-secondary">2</td>
                    </tr>
                    <tr>
                        <td class="text-secondary">3</td>
                        <td class="text-secondary">4</td>
                        <td class="text-secondary">5</td>
                        <td class="text-secondary">6</td>
                        <td class="text-secondary">7</td>
                        <td class="text-secondary">8</td>
                        <td class="text-secondary">9</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="vacations">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="4">Dovolená</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Od: <input type="text" style="width: 140px"></td>
                        <td>Do: <input type="text" style="width: 140px"></td>
                        <td>
                            <button class="btn btn-secondary">OK</button>
                            <button class="btn btn-secondary">Zrušit</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center">
                            <button class="btn btn-primary">Přidat</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col col-12 col-lg-6">
            <div id="month-info">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Informace o měsíci</th>
                        <th class="text-right">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Počet odpracovaných hodin</td>
                        <td>{{month_hours_worked}}</td>
                    </tr>
                    <tr>
                        <td>Maximální počet hodin v měsíci</td>
                        <td>{{month_max_hours}}</td>
                    </tr>
                    <tr>
                        <td>Chybí vyčerpat</td>
                        <td>{{month_available_hours}}</td>
                    </tr>
                    <tr>
                        <td>Za měsíc hrubého</td>
                        <td>{{month_money_made}} Kč</td>
                    </tr>
                    <tr>
                        <td>Za měsíc vyplacená částka</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Hodinová mzda</td>
                        <td>{{hour_rate}} Kč</td>
                    </tr>
                    <tr>
                        <td>Platba daně</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Vyčerpáno hodin v roce</td>
                        <td>{{year_hours_worked}}</td>
                    </tr>
                    <tr>
                        <td>Volné hodiny do konce roku</td>
                        <td>{{year_available_hours}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="btn btn-primary">Uzavřít měsíc</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="work-info">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="5">{{date_pretty if date_pretty else "nic"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workspan in workspans %}
                    <tr>
                        <td>
                            Od: {{workspan["from"]}}
                        </td>
                        <td>Do: {{workspan["to"]}}</td>
                        <td>Počet hodin: {{workspan["hours"]}}</td>
                        <td>Projekt: {{workspan["assignment"]}}</td>
                        <td></td>
                    </tr>
                    {% end %}
                    <tr>
                        <td>Od: <input class="workspan-from" type="time" step="1800" style="border-width: thin"></td>
                        <td>Do: <input class="workspan-to" type="time" step="1800" style="border-width: thin"></td>
                        <td>Počet hodin: <input class="workspan-hours" type="number" style="width: 50px"
                                                min="0" max="12" step="0.5"></td>
                        <td>Projekt:
                            <select class="workspan-assignment" style="border-width: thin; width: 200px">
                                <option value="hmm">Pracovat</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-secondary" onclick="saveWorkSpan(this)">OK</button>
                            <button class="btn btn-secondary">Zrušit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const DATE = "{{date}}";

    $(document).ready(() => {
        initWorkSpans();
    });

    function initWorkSpans() {
        $(".workspan-from, .workspan-to").on("change", (event) => {
            let et = $(event.target);

            let row = et.closest("tr");
            let from_input = row.find(".workspan-from");
            let to_input = row.find(".workspan-to");
            let hours_input = row.find(".workspan-hours");

            if (to_input.val() && from_input.val()) {
                let hours = strTimeDifference(from_input.val(), to_input.val());
                if (hours >= 0) {
                    hours_input.val(hours);
                } else {
                    to_input.val(from_input.val());
                    hours_input.val(0);
                }
            }
        });

        $(".workspan-hours").on("change", (event) => {
            let et = $(event.target);

            let row = et.closest("tr");
            let from_input = row.find(".workspan-from");
            let to_input = row.find(".workspan-to");
            let hours_input = row.find(".workspan-hours");

            if (from_input.val()) {
                let newTime = addToStrTime(from_input.val(), parseFloat(hours_input.val()));
                let newTimeHours = newTime.split(":")[0];
                if (parseInt(newTimeHours) > 23) {
                    newTime = "23:30"
                }
                to_input.val(newTime);
            } else if (to_input.val()) {
                let newTime = addToStrTime(to_input.val(), -parseFloat(hours_input.val()));
                let newTimeHours = newTime.split(":")[0];
                if (parseInt(newTimeHours) < 0) {
                    newTime = "00:00"
                }
                from_input.val(newTime)
            }
            from_input.change();
        })
    }

    function strTimeDifference(start, end) {
        start = start.split(":");
        end = end.split(":");
        let hours = parseInt(end[0]) - parseInt(start[0]);
        let minutes = parseInt(end[1]) - parseInt(start[1]);
        return hours + minutes / 60;
    }

    function addToStrTime(time, delta) {
        time = time.split(":");
        let floatTime = parseInt(time[0]) + parseInt(time[1]) / 60;
        let newTime = floatTime + delta;

        let sign = newTime >= 0 ? "" : "-";

        newTime = Math.abs(newTime);
        let newHours = Math.trunc(newTime);
        let newMinutes = Math.round((newTime - newHours) * 60);
        return sign + newHours.toString().padStart(2, "0") + ":" + newMinutes.toString().padStart(2, "0");
    }

    function saveWorkSpan(button) {
        let row = $(button).closest("tr");
        console.log(row.find(".workspan-assignment").val());

        let data = {
            "from": row.find(".workspan-from").val(),
            "hours": row.find(".workspan-hours").val(),
            "assignment": row.find(".workspan-assignment").val(),
            "date": DATE,
        };

        $.ajax({
            url: "/attendance/api/u/{{_id}}/workspans",
            type: "post",
            data: JSON.stringify(data),
            success: function (response) {
                alert("Podařilo se!");
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                alert("Serveru se něco nelíbí.")
            }
        });
    }
</script>

{% end %}{# block body#}