<div class="cart-row">
  <div class="cart-row-header {% if current and data.get('_id', '') == current.get('_id', ' ')%}row-selected{%end%}">
    <div class="chr-header-cell">
      <span class="header-cell">
        <button class="btn btn-sm" onclick="select_cart('{{data['_id']}}')">Vybrat</button>
        <span class="header-tag">ID:</span>
        <span class="header-value">{{data.get('_id', 'Err')}}</span>
      </span>
      <span class="header-cell">
        <span class="header-tag">Jméno:</span>
        <span class="header-value">{{data.get('name', 'Beze jména')}}</span>
      </span>

      <span class="header-cell">
        <span class="header-tag">Autor:</span>
        <span class="header-value">{{data.get('autor', 'Neznámý autor')}}</span>
      </span>

      <span class="header-cell">
        <span class="header-tag">Čas založení:</span>
        <span class="header-value">{{data.get('created', 'Err')}}</span>
      </span>
    </div>
    <div class="chr-header-cell">
      
      <span class="header-cell">
        <span class="header-tag">Typ:</span>
        <span class="header-value">{{data.get('type', 'Nenastaven')}}</span>
      </span>

      <span class="header-cell">
        <span class="header-tag">Stav:</span>
        <span class="header-value">{{data.get('status', 'Neznámý stav')}}</span>
      </span>

      <span class="header-cell">
        <span class="header-tag">Čas založení:</span>
        <span class="header-value">{{data.get('created', 'Err')}}</span>
      </span>

      <span class="header-cell">
        <span onclick="cart_print('{{data["_id"]}}')">Tisk</span>
      </span>
    </div>
  </div>
  <div class="cart-row-properties">
    <div class="roll">

    </div>
  </div>
  <div class="cart-row-list">
    <div class="cart-row">
      {% for row in data.get('cart', {})%}
        <a href="/store#{{row.get('id', '')}}">#</a> {{row.get('id', 'Err')}}{{row}}<br>
      {% end %}
    </div>
    <div class="roll">

    </div>
  </div>
</div>
