<h3>Pozice ve skladech</h3>
<ul>
{%for current in current_places %}
    <li>{%if current['primary']%}<b>{%end%}{{current['info'][0]['name']}}{%if current['primary']%}</b><small>(primary)</small>{%else%}
         <i onclick="compo_update_push_remove_position('{{current['posid']}}')">X </i>  <i onclick="compo_update_push_set_primary('{{current['posid']}}')">P</i> {% end %}
{%end%}
</ul>
<small class="text-muted">Jsou zobrazeny pouze pozice ve vybraném skladě.</small>
<hr>
<h3>Nastavit pozici</h3>
<div class="container">
	<div class="form-group row">
		<div class="col-sm-3">Sklad</div>
		<select class="form-control col-sm-9 table_style" id="compo_stock">
            {%for place in all_places %} <option value="{{place['_id']}}">{{place['name']}}</option>{%end%}
        </select>
	</div>
	<div class="form-group row">
		<button class="form-control btn btn-primary col" onclick="compo_update_push_setposition()">Přidat</button>
	</div>
</div>
<hr>
<small class="text-muted">Veškeré operace jsou logovány a zpětně dohledatelné.</small>

<script type="text/javascript">
    $(document).ready(function() {
        $('#compo_stock').select2();
    });

	function compo_update_push_setposition(){
	    $.ajax({
	      type: "POST",
	      url: "/store/operation/setposition_push/",
	      data: {
	        'component': current_detail,
            'type': 'add',
	        'position': $("#compo_stock").val(),
	      },
	      success: function( data, textStatus, jQxhr ){
	      	console.log(data);
	      	$('#modal_operation').modal('hide');
            Lobibox.notify('success', {msg: 'Polozka ulozena'});
            load_modal_operation('setposition', '#modal_oper_place');

	      },
	      error: function( jqXhr, textStatus, errorThrown ){
	        console.log( errorThrown );
            load_modal_operation('setposition', '#modal_oper_place');
	      }
	    });
	}


    	function compo_update_push_remove_position(id){
    	    $.ajax({
    	      type: "POST",
    	      url: "/store/operation/setposition_push/",
    	      data: {
    	        'component': current_detail,
                'type': 'remove',
    	        'position': id,
    	      },
    	      success: function( data, textStatus, jQxhr ){
    	      	console.log(data);
    	      	$('#modal_operation').modal('hide');
                Lobibox.notify('success', {msg: 'Polozka byla odebrana'});
                load_modal_operation('setposition', '#modal_oper_place');

    	      },
    	      error: function( jqXhr, textStatus, errorThrown ){
    	        console.log( errorThrown );
                load_modal_operation('setposition', '#modal_oper_place');
    	      }
    	    });
    	}


    	function compo_update_push_set_primary(id){
    	    $.ajax({
    	      type: "POST",
    	      url: "/store/operation/setposition_push/",
    	      data: {
    	        'component': current_detail,
                'type': 'change',
    	        'position': id,
    	      },
    	      success: function( data, textStatus, jQxhr ){
    	      	console.log(data);
    	      	$('#modal_operation').modal('hide');
                Lobibox.notify('success', {msg: 'Polozka byla odebrana'});
                load_modal_operation('setposition', '#modal_oper_place');

    	      },
    	      error: function( jqXhr, textStatus, errorThrown ){
    	        console.log( errorThrown );
                load_modal_operation('setposition', '#modal_oper_place');
    	      }
    	    });
    	}

</script>
