{#{%if len(places) == 0 %}
    <div class="bg-warning p-2 mb-2">
        Chyba: Nejdříve k této položce přiřaďte pozici ve skladu.
    </div>
{% end %}#}
{%if len(article.get('supplier',[])) == 0 %}
    <div class="bg-warning p-2 mb-2">
        Chyba: Nejdříve k této položce přiřaďte dodavatele.
    </div>
{% end %}
<div class="container">

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Požadavek</label>
		<input class="form-control table_style col-sm-10" type="checkbox" id="compo_requested"></input>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Počet ks</label>
		<input class="form-control table_style col-sm-10" type="number" id="compo_count" min="0" value="0">
	</div>
	<div class="form-group row request-hide">
		<label class="col-sm-2 col-form-label">Cena (za ks)</label>
		<input class="form-control table_style col-sm-10" type="number" id="compo_price" step = 0.00001 value="0">
	</div>
	<div class="form-group row request-hide">
		<label class="col-sm-2 col-form-label">Dodavatel</label>
		<select class="form-control table_style col-sm-10">
			{% for i, sup in enumerate(article.get('supplier',[])) %}
				<option value="i">{{sup}}</option>
			{% end %}
		</select>
	</div>
	<div class="form-group row .bg-danger request-hide">
		<label class="col-sm-2 col-form-label">Faktura </label>
		<select class="form-control table_style col-sm-10" disabled></select>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Poznámka </label>
		<input class="form-control table_style col-sm-10" type="text" id="compo_description" value="">
	</div>

	<div class="form-group row request-hide">
		<label class="col-sm-2 col-form-label">Sklad</label>
		<select class="form-control table_style col-sm-10" id="compo_stock">
           {% for stock in stocks %}
           	<option value="{{stock['_id']}}"><b>{{stock['code']}}</b> | {{stock['name']}}</option>
           {% end %}
		</select>
	</div>
	<div class="form-group row">
		<button class="form-control table_style btn btn-primary col" onclick="compo_update_push()" {%if len(article.get('supplier',[])) == 0 %}disabled{%end%}>Uložit</button>
	</div>
</div>
<div class="request-show">
    TODO: Seznam pozadavku
    <ul>
    {%for req in request %} <li>{{req['bilance']}} {{req['description']}} {{req.get('status', 0)}}{% end %}
    </ul>
</div>
<hr>
<small class="tetx-muted">Veškeré operace jsou logovány a zpětně dohledatelné.</small>

<script type="text/javascript">
	var compo_counts = 0;
	var compo_new_count = 0;

	function compo_update() {
		for(c in compo_counts){
			if(compo_counts[c]['_id'] === $('#compo_stock').val()){
				compo_new_count = Number(compo_counts[c]['count']) + Number($("#compo_offset").val());
				break;
			}
		}
		$('#compo_new_count').text(compo_new_count);
        compo_update_request();
	}

	function compo_update_push(){
	    $.ajax({
	      type: "POST",
	      url: "/store/operation/buy_push/",
	      data: {
	        'component': current_detail,
            'request': $("#compo_requested").is(":checked"),
	        'stock': $("#compo_stock").val(),
	        'count': $("#compo_count").val(),
	        'price': $("#compo_price").val(),
	        'invoice': $("#compo_invoice").val(),
	        'description': $('#compo_description').val()
	      },
	      success: function( data, textStatus, jQxhr ){
	      	console.log(data);
	      	$('#modal_operation').modal('hide');
            Lobibox.notify('success', {msg: 'Polozka ulozena'});

	        $("#modal-operation-content").modal('hide');
        	$("#modal_oper_place").hide();

	      },
	      error: function( jqXhr, textStatus, errorThrown ){
	        console.log( errorThrown );
			Lobibox.notify('error', {msg: 'Polozka nebyla ulozena'});
	      }
	    });
	}

    function compo_update_request(){
        if($("#compo_requested").is(":checked")){
            $('.request-hide').hide();
            $('.request-show').show();
        }else{
            $('.request-hide').show();
            $('.request-show').hide();
        }
    }

	$("#compo_offset").change(compo_update);
	$("#compo_stock").change(compo_update);
    $("#compo_requested").change(compo_update_request);
	compo_update();
</script>
