<div class="card mx-3">
  {% for i, x in enumerate(component.get('supplier', [])) %}
    <div class="card-header">{{i}}, <b>{{x['supplier']}}</b>, {{x.get('symbol','null')}} <span></span> <a class="material-icons" href="{{x.get('full_url','')}}" target="_blank">link</a>
      <span class="material-icons">add_shopping_cart</span>
      <span class="material-icons">been</span>
    </div>
    <div class="card-body">
<!--       <span class="small text-muted">{{x}}</span>
 -->      <div style="display: table">
        <div style="display: table-row;">
          <label class="table-cell-label">Dodavatel:</label>
          <span>{{x.get('supplier', '---')}}</span>
        </div>

        <div style="display: table-row;">
          <label class="table-cell-label">Symbol:</label>
          <span>{{x.get('symbol', '---')}}</span>
        </div>

        <div style="display: table-row;">
          <label class="table-cell-label">Odkaz:</label>
          <a target="__blank__" href="{{x.get('full_url', '---')}}">{{x.get('full_url', '---')}}</a>
        </div>

      </div>
    </div>
  {% end %}

</div>
<div class="card mx-3 text-dark bg-light">
<div class="card-header">Nový dodavatel, editace dodavatele</div>
<div class="card-body">
<form id="form_component_suppiler">
  <div style="display: table;">
    <div class="table-row">
    <label class="table-cell-label" data-toggle="tooltip" title="Pro vytvoření nového dodavatele zvolte <b>ID= -1</b>. Při zvolení jiného bude existující dodavatel přepsát.">ID <i class="material-icons text-muted">help</i></label>
    <input class="table-cell form-control form-control-sm table_style col-sm-9" type="number" min="-1" value="-1" max="{{len(component.get('supplier', []))}}" name="id">
  </div>
    <div class="table-row">
    <label class="table-cell-label">Dodavatel: </label>
        <div class="table-cell"><select class="form-control form-control-sm" name='supplier' id="component_supplier"></select></div>
    </div>
  <div class="table-row">
    <label class="table-cell-label">Symbol, Obj. číslo: </label>
    <input class="table-cell form-control form-control-sm" type="text" name="symbol">
  </div>
  <div class="table-row">
    <label class="table-cell-label">URL: </label>
    <input class="table-cell form-control form-control-sm" type="text" name="url">
  </div>
  <div class="table-row">
    <div class="table-cell"></div>
    <button class="table-cell form-control table_style btn btn-primary col col-sm-9 offset-sm-3" type="submit">Uložit</button>
  </div>
</div>
</form></div></div>


<script>


$('#component_supplier').select2({
    width: '100%',
    tags: true,
    ajax: {
      url: '/store/api/get_suppliers/',
      type: "POST",
      dataType: 'json',
      processResults: function (data) {
          console.log(data)
          return {
              results: $.map(data, function (item) {
                  console.log(item);
                  return {
                      text: item,
                      id: item
                  }
              })
          };
      }
    }
});


$('#form_component_suppiler').submit(function(e){
    e.preventDefault();
    data = $(this).serialize();
    console.log(data);
    $.ajax({
        url: 'set_supplier/',
        type: 'POST',
        data: data,
        success:function(d){
          alert(d);
          location.reload();
        }
    });
});

</script>
