{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}

<style type="text/css">


.view-row{
	height: 2em;
}

.cat-title{
	width: 100%;
	border-bottom: 2pt black solid;
	padding-top: 1em;
	padding-left: 3em;
	font-weight: 500;
	font-size: 15pt;
}

.cat-level-0{
	padding-left: 3em;
}

.cat-level-1{
	padding-left: 5em;
}

.cat-level-2{
	padding-left: 7em;
}

.cat-level-3{
	padding-left: 9em;
}

.module-row{
	border-bottom: 0.2pt lightgray solid;
	padding-left: 0pt;
	padding-right: 0pt;
	margin-left: 0pt;
	margin-right: 0pt;
}

.col{
	text-align: right;
}

.row-header{
	font-weight: 400;
	font-size: 1.2em;
}

.done{
	background: rgb(170, 220, 170);
}


</style>

<div class="container">

	<div class="card">
		<h3 class="card-header">
			Přehled skladu
		</h3>
		<div class="card-body">
			Pro inventuru <b>{{inventory['name']}}</b> <small>({{inventory['_id']}})</small> pro sklad <b>{{warehouse['code']}} - {{warehouse['name']}} </b> <small>({{warehouse['_id']}})</small>.<br>

			Zobrazit položky pouze z aktuálního skladu: <input type="checkbox" aria-label="Checkbox for following text input" id="show_only_current" onchange="visibility_of_stocks(this)">
		</div>
	</div>
</div>
<div class="container-fluid">
	<table style="width: 100%" class="table table-sm table-striped table-hover" id="position_table">
	<thead>
		<tr>
	<th>#</th>
	<th>Název</th>
	<th>Cesta</th>
	<th align="right">Počet</th>
	<th align="right">Cena</th>
	<th align="right">Cena za ks</th>
	<th align="center">Inventura</th>
		</tr>
	</thead>
	<tbody>
	{%for pi, packet in enumerate(packets) %}
	    {% set component = packet['component'] %}
	    {% set position = packet.get('position_info', None) %}
		{% set has_inventory = 0 %}
		{% set has_error = 0 %}
		{% for operation in packet['operations']%}{%if operation.get("inventory_id", "") == inventory['_id'] %}{%set has_inventory += 1 %}{%end%}{%end%}
		{% if packet['packet_count'] > 0 and packet['packet_price']<= 0%} {%set has_error += 1 %}{%end%}

		<tr class="{%if has_inventory and not has_error %}table-success{% elif has_error %}table-danger{%end%}" stock="{% if position %}{{position['warehouse']['_id']}}{%end%}">
			<td>{{pi}}</td>
			<td>
            	<a class="bi bi-info-square" href="/store/component/{{component['_id']}}/?packet={{packet['_id']}}" id="id_stock_link" target="_blank"></a>
            	<a class="bi bi-paperclip" href="#" onclick="copyToClipboard('{{packet['_id']}}')"></a>
            	<span data-bs-toggle="tooltip" data-bs-placement="top" title="{{component['description']}}">{{component['name']}}</span>   <i class="bi bi-box-seam"></i> {{packet['_id']}} ({{len(packet['operations'])}})
            </td>
            <td> {% if position %} {{position['warehouse']['code']}}/{{"/".join(position['path_string']+[""])}}{{position['name']}}{%else%}--bez pozice--{%end%} </td>
			<td align="right">{{"{:.2f}".format(packet['packet_count'])}}</td>
			<td align="right">{{"{:.2f}".format(packet['packet_price'])}}</td>
			<td align="right">{%if packet['packet_count'] %}{{"{:.2f}".format(packet['packet_price']/packet['packet_count'])}}{%else%}---{%end%} Czk/unit</td>
			<td align="center">{%if has_inventory > 1 %}<i class="bi bi-check-all"></i> {% elif has_inventory > 0%} <i class="bi bi-check"></i> {%else%}  <i class="bi bi-x"></i> {%end%}</td>
			<!-- <small>{{packet}}</small><br> -->

		</tr>
		
	{% end %}</tbody></table>
		

	</div>




<script type="text/javascript">

	function copyToClipboard(text) {
	    var dummy = document.createElement("textarea");
	    // dummy.style.display = 'none'
	    document.body.appendChild(dummy);
	    dummy.value = text;
	    dummy.select();
		console.log(dummy);
	    document.execCommand("copy");
	    document.body.removeChild(dummy);
	}

	function doStockTaking(e) {
		console.log(e);
		var id = $(e).attr('component');
		var new_count = $('[input-component="'+id+'"]').val();
		var old_count = $('[input-component="'+id+'"]').attr('old');

		console.log(id, new_count, old_count, new_count-old_count);

        $.ajax({
          type: "POST",
          url: "/stocktaking/save_item/",
          data: {
            '_id': id,
            'description': "Rychla inventura z prehledu..",
            'bilance': new_count - old_count,
            'absolute': new_count
          },
          success: function( data, textStatus, jQxhr ){
            console.log(data);
            Lobibox.notify('success', {
                title: 'Provedeno',
                msg: 'U součástky <b>'+id+'</b> byla provedena inventura. <b>' + new_count +' ks</b>.',
                delay: 3000
            });
            },
          error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
            Lobibox.notify('error', {
                title: 'Nebylo možné provést úpravu položky',
                msg: 'U položky <b>'+id+'</b> nastal neznámý problém. Zkontrolujte log.',
                delay: 3000
            });
          }
        });


	}

// var table = new Tabulator("#position_table", {
//     movableColumns:true,

//     layout:"fitColumns",
// });


// enable tooltips
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})


function visibility_of_stocks(e){
	console.log($(e).is(":checked"));
	var rows = $( "tr[stock={{warehouse['_id']}}]" );
	var all_rows = $( "tr[stock]" );
	console.log(rows);
	if ($(e).is(":checked")) {
		all_rows.hide();
		rows.show();
	}else{
		all_rows.show();
	}
}


</script>

{% end %}{# body #}
